<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, tr, td, th {
            border: 1px solid blue;
            border-collapse: collapse;
        }

    </style>
</head>
<body>
<h3>공급자 명단 추가</h3>
<form th:action="@{/main16/sub2}" method="post">

    <div>
        <label>이름
            <input type="text" name="name">
        </label>
    </div>
    <div>
        <label>거래명
            <input type="text" name="contactName">
        </label>
    </div>
    <div>
        <label>지역
            <input type="text" name="address">
        </label>
    </div>
    <div>
        <label>도시
            <input type="text" name="city">
        </label>
    </div>
    <div>
        <label>우편번호
            <input type="text" name="postalCode">
        </label>
    </div>
    <div>
        <label>국가
            <input type="text" name="country">
        </label>
    </div>
    <div>
        <label>번호
            <input type="text" name="phone">
        </label>
    </div>
    <div>
        <button>
            추가
        </button>
    </div>

</form>

<hr>
<table th:if="${supplierList.size() > 0}">
    <thead>
    <tr>
        <th>id</th>
        <th>supplierName</th>
        <th>contactName</th>
        <th>address</th>
        <th>city</th>
        <th>postalCode</th>
        <th>country</th>
        <th>phone</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="supplier : ${supplierList}">
        <td th:text="${supplier.id}"></td>
        <td th:text="${supplier.name}"></td>
        <td th:text="${supplier.contactName}"></td>
        <td th:text="${supplier.address}"></td>
        <td th:text="${supplier.city}"></td>
        <td th:text="${supplier.postalCode}"></td>
        <td th:text="${supplier.country}"></td>
        <td th:text="${supplier.phone}"></td>

    </tr>
    </tbody>
</table>

</body>
</html>