<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h1 th:text="${name1}">Lorem </h1>
<h1 th:text="${name2}">fdsafdasvcxz</h1>
<!--아무거나 써도 됨-->

<!--tyhemleaf의 목적: 모델의 값이 존재하지 않더라도, 레이아웃이 보여지게 하고 싶어서
모델이 없어도, 레이아웃을 쉽게 볼 수 있기 때문. -->

<!--h1>lorem1^p>lorem-->
<h1>Lorem.</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto cumque ducimus explicabo harum
  inventore laboriosam modi, non, optio possimus, quasi voluptas. Alias cum minima natus quia temporibus totam unde?</p>
</body>
</html>