<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--table>thead>tr>th*3^^tbody>tr*5>td*3-->
<!--테이블 자체에 반복을 적용했기 때문에, -->
<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>생일</th>
        <th>가격</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list: ${myList}">
        <td th:text="${list.ai}"></td>
        <td th:text="${list.date}"></td>
        <td th:text="${list.price}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>