<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>국가</th>
        <th>도시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="map : ${customers}">
        <td th:text="${map.name}"></td>
        <td th:text="${map.country}"></td>
        <td th:text="${map.city}"></td>
    </tr>
    </tbody>

</table>


<hr>
<ul>
    <li th:each="map : ${customers}">
        <span th:text="${map.name}"></span>
        <span th:text="${map.country}"></span>
        <span th:text="${map.city}"></span>
    </li>
</ul>
</body>
</html>