<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>각 데이터 타입 보기</h3>
<div th:object="${data}">
    <div>
        <input type="text" name="" th:value="*{col1}">
    </div>
    <div>
        <input type="number" name="" th:value="*{col2}">
    </div>
    <div>
        <input type="number" name="" th:value="*{col3}" step="0.01">
    </div>
    <div>
        <input type="number" name="" th:value="*{col4}">
    </div>
    <div>
        <input type="date" name="" th:value="*{col5}">
    </div>
    <div>
        <input type="time" name="" th:value="*{col6}">
    </div>
    <div>
        <input type="datetime-local" name="" th:value="*{col7}">
    </div>
</div>
</body>
</html>