<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${aiList[0].ai}">Lorem.</h1>
<h1 th:text="${aiList[0].date}">Ad.</h1>
<h1 th:text="${aiList[0].price}">Vel.</h1>
<h1 th:text="${aiList[1].ai}">Necessitatibus.</h1>
<h1 th:text="${aiList[1].date}">Vel.</h1>
<h1 th:text="${aiList[1].price}">Odit?</h1>
<h1 th:text="${aiList[2].ai}">Voluptates.</h1>
<h1 th:text="${aiList[2].date}">Veniam!</h1>
<h1 th:text="${aiList[2].price}">Quo?</h1>
</body>
</html>