<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${people[0].model}">Lorem.</h1>
<h1 th:text="${people[0].age}">Tempora!</h1>
<h1 th:text="${people[0].married}">Animi.</h1>
<h1 th:text="${people[1].model}">Atque.</h1>
<h1 th:text="${people[1].age}">Ut!</h1>
<h1 th:text="${people[1].married}">Sapiente.</h1>
<h1 th:text="${people[2].model}">Quia?</h1>
<h1 th:text="${people[2].age}">Accusamus!</h1>
<h1 th:text="${people[2].married}">Fugiat!</h1>
</body>
</html>