<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${attr}">Dolor?</h1>
<h1 th:text="${attr.getHome}">Lorem.</h1>
<h1 th:text="${attr.getScore}">Eaque.</h1>
<h1 th:text="${attr.getHeight}">Consectetur.</h1>
<h1 th:text="${attr.getNickName}">Harum!</h1>
<h1 th:text="${attr}">Asperiores!</h1>
<h1 th:text="${attr.home}">Impedit.</h1>
<h1>Dignissimos.</h1>
<h1>Beatae!</h1>
<h1>Debitis!</h1>
</body>
</html>