<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--연습: 이 html을 보고 dto와 request handler method만들기-->
<h1 th:text="${val.weight}">Lorem.</h1>
<h1 th:text="${val.info}">Possimus!</h1>
<h1 th:text="${val.studentNumber}">Molestias?</h1>
<h1 th:text="${val.married}">Aperiam?</h1>
<h1 th:text="${val['studentNumber']}">Repudiandae.</h1>
<h1 th:text="${val['info']}">Ducimus?</h1>
<h1 th:text="${val['married']}">Natus!</h1>
<h1 th:text="${val['weight']}">Quo!</h1>
<h1>Praesentium!</h1>
<h1>Fugit.</h1>
</body>
</html>