<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${values['home']}">Lorem.</h1>
<h1 th:text="${values['address']}">Veritatis.</h1>
<h1 th:text="${values['birth data']}">Earum.</h1>
<h1 th:text="${values['score']}">Atque.</h1>
<h1 th:text="${values.score}">Vel?</h1>
<h1 th:text="${values.address}">Distinctio.</h1>
<h1 th:text="${values.home}">Optio.</h1>
<h1>Impedit?</h1>
<h1>Eligendi?</h1>
<h1>Ipsa?</h1>
</body>
</html>