<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, tr, td, th {
            border-collapse: collapse;
            border: 1px solid darkred;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ProductID</th>
        <th>ProductName</th>
        <th>SupplierID</th>
        <th>CategoryID</th>
        <th>Unit</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list : ${productList}">
        <td th:text="${list.id}"></td>
        <td th:text="${list.name}"></td>
        <td th:text="${list.supplier}"></td>
        <td th:text="${list.category}"></td>
        <td th:text="${list.unit}"></td>
        <td th:text="${list.price}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>