<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /* css 주석 */
    </style>
</head>
<body>
<!--html 주석-->
<!--중요한 내용 작성하면 안됨-->
<!--안보이게 하고 싶어서 주석처리했는데, -->
<!--<h1 th:text="${'hello'}">text</h1>-->
<!--/*<h1 th:text="${'hello'}">text</h1> */-->

<!--/* thymeleaf 주석: rendering 할때 제거됨 */-->

<!--타임리프의 장점 어떤 틀을 볼 수 있다-->
<ul>
    <li th:each="item, a : ${myList}" th:text="${item}">some item1</li>
    <!--/*-->
    <li>some item2</li>
    <li>some item3</li>
    <li>some item4</li>
    <!--*/-->
</ul>
</body>

<script>

    // js 주석

    /*
    js  여러 줄
    주석
    */


</script>


</html>