<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .italic {
            font-style: italic;
        }

        .bold {
            font-weight: bold;
        }

    </style>
</head>
<body>

<table>
    <thead>
    <th>이름</th>
    <th>생일</th>
    <th>가격</th>
    </thead>
    <tbody>
    <tr th:each="a : ${myList}">
        <td th:text="${a.ai}"></td>
        <td th:text="${a.date}"></td>
        <td class="italic" th:text="${a.price}" th:classappend="${a.price >=5000} ? 'bold'"></td>
    </tr>
    </tbody>
</table>
</body>
</html>